<ion-view title="Details" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="details-heading11" style="color:#000000;">Stock Symbol: {{ mdl.symbol }}</h3>
    <h3 id="details-heading12" style="color:#000000;">Current Stock Price:</h3>
    <h2 id="details-heading13" style="color:#000000;"> {{ mdl.currentStockPrice }}</h2>
    <h3 id="details-heading14" style="color:#000000;">Date of Analysis:</h3>
    <h2 id="details-heading15" style="color:#000000;">{{ mdl.dateOfAnalysis }}</h2>
    <h3 id="details-heading16" style="color:#000000;">Trend:</h3>
    <h1 id="details-heading17" style="color:{{ mdl.colorRecommendation }};">{{ mdl.trend }}</h1>
    <h2 id="details-heading19" style="color:#000000;">{{ mdl.recommendation }}</h2>
  </ion-content>
</ion-view>