<ion-view title="Portfolio" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="portfolio-heading9" style="color:#000000;">Stock Portfolio Management App</h1>
    <h5 id="portfolio-heading10" style="color:#000000;text-align:right;">a01234223 - Daniel Amezcua Sánchez</h5>
    <form id="portfolio-form7" class="list">
      <ion-radio id="portfolio-radio5" ng-model="mdl.symbol" value="APPL" name="1">Apple Computer</ion-radio>
      <ion-radio id="portfolio-radio4" ng-model="mdl.symbol" value="GE" name="1">General Electric</ion-radio>
      <ion-radio id="portfolio-radio6" ng-model="mdl.symbol" value="SBUX" name="1">Starbucks Corporation</ion-radio>
      <ion-radio id="portfolio-radio7" ng-model="mdl.symbol" value="WBA" name="1">Walgreens Company</ion-radio>
    </form>
    <a ui-sref="details({symbol:mdl.symbol})" id="portfolio-button1" class="button button-positive button-block">Get details</a>
  </ion-content>
</ion-view>